.text {
    background-color:#E5E5E5;
    color: darkslategray;
    margin: 0% 10%;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    padding: 0% 5%;
}

.visual {
    background: cyan;
    position: relative;
}

.small {
    width: 40vw;
    height: 40vh;
    left: calc(-20vw + 50%);
}

.big {
    width: 80vw;
    height: 80vh;
    left: calc(-40vw + 50%);
}

td, th {
    border: 0.5px solid #000000;
    padding: 0.5rem;
    text-align: center;
}

table {
    margin: auto;
}