html, body {
    margin: 0;
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
}

#view {
    height: 100%;
    margin-left: 160px;
}

#view2 {
    height: 100%;
    width: 100%;
}

.text {
    background-color:#E5E5E5;
    color: darkslategray;
    margin-left: 160px;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    padding: 100px;
}


#side-menu {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    color: #060606;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    float: left;
}

.dropdown {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: inline;
    background-color: #a5a5a5;
}

/* Next & previous buttons */
.prev {
    left: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
  }

.prev:hover, .next:hover {
    color: #060606;
}

.selectorLabel {
    color: #818181;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    font-weight: bold;
    top: 0;
    width: 50%;
    text-align: center;
    background-color: #a5a5a5;
}

.active {
    background-color: #060606;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.active {
    height: 100%;
}

a:link {
    text-decoration: none;
    color: #818181;
}
  
a:visited {
    text-decoration: none;
    color: #818181;
}

#shapes {
    font-size: large;
}

#content3 {
    display: none;
}

li {
    list-style-type: none;
    margin: 0 5%;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    width: 100%;
    background-color: #F5F5F5;
    margin: 0;
    z-index: 10;
}