html, body {
    margin: 0;
    background-color: rgb(32, 40, 48);
    height: 100%;
    width: 100%;
    min-height: 100px;
}

#view {
    width: 80%;
    height: 80%;
    min-height: 80px;
    margin: auto;
}

#panel {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: navy;
    overflow-x: hidden;
    padding-top: 20px;
    color: oldlace;
  }

